<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.board.mapper.BoardMapper">

<select id="getLists" resultType="kr.board.entity.Board">
	select * from myboard order by idx desc

</select>

</mapper>

